/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>


&led_strip { chain-length = <27>; };

/ {
    rgb_underglow: rgb_underglow {
        compatible = "zmk,rgb-underglow";
        status = "okay";
        label = "RGB_UNDERGLOW";
        chain-length = <10>; // Number of LEDs
        color-map = <0x000000>; // Default: Black (off)
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        settingslayer {
            bindings = <&to 3>;
            key-positions = <37 40>;
        };
    };



    behaviors {
        // Define RGB behaviors for each layer
        rgb_layer_default: rgb_layer_default {
            compatible = "zmk,behavior-rgb-underglow";
            #binding-cells = <2>;
            rgb-values = <&rgb_ug RGB_COLOR_HSV(0, 0, 0)>;  // Default: OFF (or set a base color)
        };
        rgb_layer1: rgb_layer1 {
            compatible = "zmk,behavior-rgb-underglow";
            #binding-cells = <2>;
            rgb-values = <&rgb_ug RGB_COLOR_HSV(120, 100, 100)>;  // Layer 1: Green
        };
        rgb_layer2: rgb_layer2 {
            compatible = "zmk,behavior-rgb-underglow";
            #binding-cells = <2>;
            rgb-values = <&rgb_ug RGB_COLOR_HSV(240, 100, 100)>;  // Layer 2: Blue
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
                // -----------------------------------------------------------------------------------------

                bindings = <
                // | Tab  |  Q  |  W   |   E  |  R   |  T   |     |  Y   |  U   |  I   |  O   |  P    |  BSPC   |
                &kp TAB    &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I  &kp O  &kp P   &kp BSPC
                // | CTRL |  A  |  S  |  D    |  F    |  G   |    |  H   |  J   |  K   |  L   |  ;    |  '      |
                &kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G        &kp H   &kp J  &kp K   &kp L  &kp SEMI  &kp SQT
                // | SHFT |  Z  |  X   |  C   |  V   |  B   |     |  N  |  M    |  ,       |  .     |  /      | ESC    |
                &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC

                //                  | GUI   | Lay2  | SPC      |   | ENT   | Lay1  | ALT     |
                                    &kp LGUI  &to 2  &kp SPACE      &kp RET  &to 1   &kp RALT
            &rgb_layer_default 0 0
            >;
        };

        numbers {
            bindings = <
&trans  &kp NUMBER_1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6          &kp N7          &kp N8        &kp N9     &kp N0  &trans
&trans  &trans        &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &trans        &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans     &trans  &trans
                              &trans  &trans  &trans    &trans          &to 0           &trans
            >;
        };

        special {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            &rgb_layer1 0 0
            >;
        };

        Cont {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp N1           &kp N2           &kp N3           &kp N4           &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &trans
&kp LSHFT   &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF  &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                              &kp LGUI         &trans           &kp SPACE       &kp RET   &trans    &kp RALT
            &rgb_layer2 0 0
            >;
        };
    };
};
