/*
 * Copyright (c) 2020 The ZMK Contributorsfp
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>


&kscan0 {
        col-gpios
            = <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>
            , <&pro_micro 21 GPIO_ACTIVE_HIGH>
            ;
        row-gpios
            = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };


&led_strip { chain-length = <27>; };


/ {
    combos {
        compatible = "zmk,combos";

        settingslayer {
            bindings = <&RGB_layer3>;
            key-positions = <37 40>;
        };
    };

    macros {
        RGB_layer1: RGB_layer1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &rgb_ug RGB_COLOR_HSB(62,100,17)>;
            label = "RGB_LAYER1";
        };

        RGB_Layer_default: RGB_Layer_default {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &rgb_ug RGB_COLOR_HSB(302,100,17)>;
            label = "RGB_LAYER_DEFAULT";
        };

        RGB_layer2: RGB_layer2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 2 &rgb_ug RGB_COLOR_HSB(176,100,16)>;
            label = "RGB_LAYER2";
        };

        RGB_layer3: RGB_layer3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 3 &rgb_ug RGB_COLOR_HSB(116,100,18)>;
            label = "RGB_LAYER3";
        };
    };

    behaviors {
        HT: HT {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak-dh {
            // -----------------------------------------------------------------------------------------

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F                &kp P        &kp B                 &kp J             &kp L        &kp U          &kp Y    &kp SEMI   &kt ESCAPE
&kp LALT   &kp A  &kp R  &kp S                &kp T        &kp G                 &kp M             &kp N        &kp E          &kp I    &kp O      &kp APOS
&kp LCTRL  &kp Z  &kp X  &kp C                &kp D        &kp V                 &kp K             &kp H        &kp COMMA      &kp DOT  &kp SLASH  &kp RCTRL
                         &HT LEFT_WIN DELETE  &RGB_layer3  &HT LEFT_SHIFT RET    &HT RSHIFT SPACE  &RGB_layer2  &kp BACKSPACE
            >;
        };

        numbersspecila {
            bindings = <
&trans  &kp EXCL     &kp AT      &kp LBKT              &kp RBKT               &kp PIPE     &kp EQUAL  &kp N7              &kp N8  &kp N9  &kp ASTRK  &trans
&trans  &kp HASH     &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE    &kp DOT    &kp N4              &kp N5  &kp N6  &kp PLUS   &kp MINUS
&trans  &kp PERCENT  &kp CARET   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp TILDE    &kp N0     &kp N1              &kp N2  &kp N3  &kp SLASH  &trans
                                 &trans                &RGB_Layer_default     &trans       &trans     &RGB_Layer_default  &trans
            >;
        };

        function {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4              &kp F5     &trans  &trans              &kp UP    &trans     &trans  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9              &kp F10    &trans  &kp LEFT            &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &kp F11  &kp F12  &trans  &trans              &trans     &trans  &trans              &trans    &trans     &trans  &trans
                          &trans  &RGB_Layer_default  &trans     &trans  &RGB_Layer_default  &trans
            >;
        };

        Cont {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB      &kp N1           &kp N2           &kp N3           &kp N4              &kp N5          &kp N6      &kp N7              &kp N8  &kp N9     &kp N0  &kp BSPC
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3        &bt BT_SEL 4    &kp LEFT    &kp DOWN            &kp UP  &kp RIGHT  &trans  &bt BT_CLR_ALL
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF     &sys_reset      &sys_reset  &trans              &trans  &trans     &trans  &bootloader
                                               &trans           &RGB_Layer_default  &trans          &trans      &RGB_Layer_default  &trans
            >;
        };
    };
};
